﻿
<div class="product_info_pop detail">
    <div class="prev">
        <a onclick="closepopup();">
            <img src="../../assets/images/common/btn-prev.jpg" alt="prev">
        </a>
    </div>
    <div class="prd-detail-box">
        <div class="text-center ">
            <div class="ma_top80">
                <div class="prd-img wd50">

                    <img src="../../assets/images/product/lte.jpg" alt="lte" class="img-responsive" />
                </div>
                <div class="prd-img wd50">

                    <img src="../../assets/images/product/lrt.jpg" alt="lrt" class="img-responsive" />
                </div>
            </div>
            <div class="clear"></div>
            <div class="ma_top120">

                <div class="prd-img wd100">

                    <img src="../../assets/images/product/lte-lrt-2.jpg" alt="lte-lrt-chart" class="img-responsive" />
                </div>


            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
</div>