﻿
<div class="product_info_pop detail">
    <div class="prev">
        <a onclick="closepopup();">
            <img src="../../assets/images/common/btn-prev.jpg" alt="prev">
        </a>
    </div>
    <div class="prd-detail-box">

        <div class="cable-ladder">
            <div class="txt-box">
                <span class="tit">Cable Ladder - Straight Sections </span>
                <span class="sub-txt">Standard Duty Ladder (SDL) & Heavy Duty Ladder (HDL) Series </span>
            </div>
            <div class="box text-center ma_top30">
                <div class="txt-box">
                    <span class="sub-txt">Straight Section Part Numbering</span>
                </div>
                <div class="ma_top25 text-center">
                    <img src="../../assets/images/product/chart.jpg" alt="cts-chart" class="img-responsive" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <ol class="chart">
                        <li>① <span class="bold">Height (mm)</span> 125 150</li>
                        <li>② <span class="bold">Material G =</span>  Galvanized Steel <span class="bold">X</span> =  Stainless Steel 316</li>
                        <li>③ <span class="bold">* Rung  Spacing (mm)</span> 200 300</li>
                        <li>④ <span class="bold">* Rung Shape C</span> Profile</li>
                        <li>⑤ <span class="bold">* Rung Orientation D</span> =  Down</li>
                    </ol>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <ol class="chart">
                        <li>⑥ <span class="bold">Side Rail 15I</span> =  SDL Series <span class="bold">20I</span> =  HDL Series</li>
                        <li>⑦ <span class="bold">Ladder Straight Section</span></li>
                        <li>⑧ <span class="bold">Width (mm)</span> 0150 0300 0450 0600 0750 0900</li>
                        <li>⑨ <span class="bold">Length (mm)</span> 3000 6000</li>
                    </ol>
                </div>
                <div class="clear"></div>
            </div>
            <div class="ma_top70">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <table class="cts-1">
                            <tbody>
                                <tr>
                                    <th>Height</th>
                                    <th>Side Rail Dimensions </th>
                                    <th>Series</th>
                                    <th>Material</th>
                                    <th>Span (m)</th>
                                    <th>Loads (kg/m)</th>
                                    <th>Material</th>
                                    <th>Span (m)</th>
                                    <th>Loads (kg/m)</th>
                                </tr>
                                <tr>
                                    <td rowspan="8">125mm</td>
                                    <td rowspan="8"><img src="../../assets/images/product/125-dimensions.jpg" alt="125mm dimensions" class="img-responsive" /></td>
                                    <td rowspan="4">SDL</td>
                                    <td rowspan="8">HDG</td>
                                    <!-- span -->
                                    <td rowspan="1">3</td>
                                    <!-- loads -->
                                    <td rowspan="1">420</td>
                                    <td rowspan="8">SS6</td>
                                    <!-- span -->
                                    <td rowspan="1">3</td>
                                    <!-- loads -->
                                    <td rowspan="1">441</td>
                                </tr>
                                <tr>
                                    <td rowspan="1">4</td>
                                    <td rowspan="1">310</td>
                                    <td rowspan="1">4</td>
                                    <td rowspan="1">323</td>
                                </tr>
                                <tr>
                                    <td rowspan="1">5</td>
                                    <td rowspan="1">200</td>
                                    <td rowspan="1">5</td>
                                    <td rowspan="1">206</td>
                                </tr>
                                <tr>
                                    <td rowspan="1">6</td>
                                    <td rowspan="1">90</td>
                                    <td rowspan="1">6</td>
                                    <td rowspan="1">88</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">HD</td>
                                    <td rowspan="1">3</td>
                                    <td rowspan="1">442</td>
                                    <td rowspan="1">3</td>
                                    <td rowspan="1">458</td>
                                </tr>
                                <tr>
                                    <td rowspan="1">4</td>
                                    <td rowspan="1">341</td>
                                    <td rowspan="1">4</td>
                                    <td rowspan="1">340</td>
                                </tr>
                                <tr>
                                    <td rowspan="1">5</td>
                                    <td rowspan="1">241</td>
                                    <td rowspan="1">5</td>
                                    <td rowspan="1">223</td>
                                </tr>
                                <tr>
                                    <td rowspan="1">6</td>
                                    <td rowspan="1">140</td>
                                    <td rowspan="1">6</td>
                                    <td rowspan="1">105</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="img-box">
                    <img src="../../assets/images/product/125-1.jpg" alt="125mm" class="img-responsive" />
                    <img src="../../assets/images/product/125-2.jpg" alt="125mm-2" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row ma_top20">
                    <table class="cts-1">
                        <tbody>
                            <tr>
                                <th>Height</th>
                                <th>Side Rail Dimensions </th>
                                <th>Series</th>
                                <th>Material</th>
                                <th>Span (m)</th>
                                <th>Loads (kg/m)</th>
                                <th>Material</th>
                                <th>Span (m)</th>
                                <th>Loads (kg/m)</th>
                            </tr>
                            <tr>
                                <td rowspan="8">150mm</td>
                                <td rowspan="8"><img src="../../assets/images/product/150-dimensions.jpg" alt="150mm dimensions" class="img-responsive" /></td>
                                <td rowspan="4">SDL</td>
                                <td rowspan="8">HDG</td>
                                <!-- span -->
                                <td rowspan="1">3</td>
                                <!-- loads -->
                                <td rowspan="1">525</td>
                                <td rowspan="8">SS6</td>
                                <!-- span -->
                                <td rowspan="1">3</td>
                                <!-- loads -->
                                <td rowspan="1">474</td>
                            </tr>
                            <tr>
                                <td rowspan="1">4</td>
                                <td rowspan="1">394</td>
                                <td rowspan="1">4</td>
                                <td rowspan="1">356</td>
                            </tr>
                            <tr>
                                <td rowspan="1">5</td>
                                <td rowspan="1">263</td>
                                <td rowspan="1">5</td>
                                <td rowspan="1">239</td>
                            </tr>
                            <tr>
                                <td rowspan="1">6</td>
                                <td rowspan="1">132</td>
                                <td rowspan="1">6</td>
                                <td rowspan="1">121</td>
                            </tr>
                            <tr>
                                <td rowspan="4">HD</td>
                                <td rowspan="1">3</td>
                                <td rowspan="1">577</td>
                                <td rowspan="1">3</td>
                                <td rowspan="1">482</td>
                            </tr>
                            <tr>
                                <td rowspan="1">4</td>
                                <td rowspan="1">446</td>
                                <td rowspan="1">4</td>
                                <td rowspan="1">368</td>
                            </tr>
                            <tr>
                                <td rowspan="1">5</td>
                                <td rowspan="1">315</td>
                                <td rowspan="1">5</td>
                                <td rowspan="1">254</td>
                            </tr>
                            <tr>
                                <td rowspan="1">6</td>
                                <td rowspan="1">184</td>
                                <td rowspan="1">6</td>
                                <td rowspan="1">140</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>