﻿
<div class="product_info_pop detail">
    <div class="prev">
        <a onclick="closepopup();">
            <img src="../../assets/images/common/btn-prev.jpg" alt="prev">
        </a>
    </div>
    <div class="prd-detail-box">
        <div class="text-center">
            <div class="prd-img wd100">

                <img src="../../assets/images/product/lhx.jpg" alt="lhx" class="img-responsive" />
            </div>

            <div class="clear"></div>
            <div class="prd-img wd100 ma_top150">

                <img src="../../assets/images/product/lhx-2.jpg" alt="lhx 2" class="img-responsive" />
            </div>
            <div class="clear"></div>
            <div class="ma_top120">

                <div class="prd-img wd100">


                    <img src="../../assets/images/product/lrx.jpg" alt="lrx" class="img-responsive" />
                </div>


            </div>
            <div class="clear"></div>
            <div class="ma_top150">

                <div class="prd-img wd100">



                    <img src="../../assets/images/product/lrx-2.jpg" alt="lrx 2" class="img-responsive" />                </div>


            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
</div>