﻿
<div class="product_info_pop detail">
    <div class="prev">
        <a onclick="closepopup();">
            <img src="../../assets/images/common/btn-prev.jpg" alt="prev">
        </a>
    </div>
    <div class="prd-detail-box">
        <div class="text-center ma_top65">
            <div class="prd-img wd100">


                <img src="../../assets/images/product/lvi-lvo.jpg" alt="lvi-lvo" class="img-responsive" />            </div>

            <div class="clear"></div>
            <div class="prd-img wd100 ma_top150">

                <img src="../../assets/images/product/lvi-lvo-2.jpg" alt="lvi-lvo 2" class="img-responsive" />
                   </div>
            <div class="clear"></div>
            
        </div>

    </div>
    <div class="clear"></div>
</div>