﻿<div class="product_info_pop detail">
    <p>
        <a class="cboxClose" onclick="closepopup();"></a>
    </p>
    <div class="prd-detail-box">
        <div>
            <div class="prd-img wd45 ">
                <img src="../assets/images/product/pop_fig_98_1.jpg" alt="fig-98" class="img-responsive" />

            </div>
            <div class="prd-info  wd55">
                <p class="tit_sm">Rod Stiffener</p>
                <h4 class="name">Fig.98</h4>
                <h5 class="desc">내진 케이블트레이/덕트 전산볼트 고정대 (스티프너)</h5>
                <div class="prd-deatil-info-area ma_top30">
                    <p class="cate-tit">제품특성</p>
                    <ul class="cate-deatiltxt">
                        <li>재질 : Steel (도금)</li>
                        <li>
                            Beam 설치 두께 : 3/8" -16 ~ 7/8" -9
                        </li>
                        <li>
                            설치방법 : 전산볼트에 U-Channel을 고정 후 설치 (전산볼트 보강)
                        </li>
                        <li>
                            상기치수는 제조사의 사정에 의해 변경 될 수 있음
                        </li>
                        <li>
                            설치 방법 및 조립은 Eaton's B-Line 가이드 및 시방서 참조
                        </li>
                    </ul>
                </div>
                <div class="prd-deatil-info-area ma_top30">

                    <p class="cate-tit">** 간격</p>
                    <p class="sub-deatiltxt">
                        U-Channel의 규격 및 전산볼트 규격에 의해 변경되며 내진설계를 통해 치수를 정할 수 있다.
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sub-box ma_top140">

            <div class="prd-info  wd15">
                <div class="prd-deatil-info-area ma_top20">

                    <p class="cate-tit">그림참조</p>
                </div>
            </div>
            <div class="prd-img wd85">
                <img src="../assets/images/product/pop_fig_98_2.jpg" alt="fig-98" class="img-responsive" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>