﻿<!--====== Javascripts & Jquery ======-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/assets/vendors/jquery/js.cookie.js" charset="utf-8" type="text/javascript"></script>
<script src="/assets/vendors/localize/jquery.localize.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/vendors/owlcarousel2/owl.carousel.js"></script>
<link rel="stylesheet" href="/assets/vendors/owlcarousel2/owl.carousel.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/vendors/menu_aim/jquery.menu-aim.js"></script>
<script src="/assets/js/right_wings.js"></script>
<script src="/assets/js/megamenu.js"></script>
<script src="/assets/js/menu.js"></script>