﻿<div class="container  ">
    <div class="footer_menu">
        <div class="menu">
            <ul>
                <li>
                    와이에스에프에스(주)
                </li> 
                <li><a href="javascript:privacy_view();">개인정보취급방침</a> 
                </li>
            </ul>
        </div>
        <div class="copy ">
            <div class="addr">
                <p>경기도 안양시 동안구 학의로 282 금강펜테리움IT타워 A동 1607호 </p>
                <ul>
                    <li>
                        사업자등록번호 : 120-87-13853

                    </li>
                    <li>
                        대표이사 : 김종남
                    </li>
                    <li>
                        TEL: 031-337-5119
                    </li>
                    <li>
                        FAX: 031-337-5118
                    </li>
                </ul>
            </div>
            <p> Copyright © <span>YSFS Co.,Ltd.</span> All Rights Reserved.</p>
        </div>
    </div>
    <div class="footer_logo">
        <a href="#"><img src="/assets/images/footer_logo.png?t=1556157314" alt=""></a>
    </div>
    <div class="clear"></div>
</div>

<div id="privacy_pop"></div>   
