﻿<header>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_bar_menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="site-header-wrap collapse" id="nav_bar_menu">
        <div class="container">
            <div class="row ">
                <div class="logo">
                    <h1>
                        <a href="/index.html"><img src="/assets/images/logo.png?t=1556157314" alt="" /></a>
                    </h1>
                </div>
                <section class="main-menuarea">
                    <ul class="dropdown-menu-main">
                        <li data-submenu-id="submenu-company" data-id="company">
                            <a>회사소개</a>
                            <div id="submenu-company" class="popover">
                                <h3 class="popover-title">회사소개</h3>
                                <div class="popover-content">
                                    <div class="lst_menu">
                                        <ul class="menu-list-ul">
                                            <li class="menu-main-category">
                                                <a href="/company/index.html">대표이사 인사말</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/company/history.html">회사 연혁</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/company/location.html"> 찾아오시는 길</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-submenu-id="submenu-product" data-id="product">
                            <a>제품소개 및 설치방법</a>
                            <div id="submenu-product" class="popover">
                                <h3 class="popover-title">제품소개 및 설치방법</h3>
                                <div class="popover-content">
                                    <div class="lst_menu">
                                        <ul class="menu-list-ul">
                                            <li class="menu-main-category">
                                                <a href="/product/howtosetup.html">설치방법</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/product/tscti.html">U-CHANNEL TYPE Ⅰ</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/product/tsctii.html">U-CHANNEL TYPE Ⅱ</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/product/tsct.html"> CABLE TYPE</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/product/cts.html">CABLE TRAY SYSTEMS</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/product/etc.html">기타자재</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-submenu-id="submenu-video" data-id="video">
                            <a>동영상 </a>
                            <div id="submenu-video" class="popover">
                                <h3 class="popover-title">동영상</h3>
                                <div class="popover-content">
                                    <div class="lst_menu">
                                        <ul class="menu-list-ul">
                                            <li class="menu-main-category">
                                                <a href="/video/product.html">제품 동영상</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/video/exhibition.html">전시회 동영상</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-submenu-id="submenu-reference" data-id="reference">
                            <a>자료실</a>
                            <div id="submenu-reference" class="popover">
                                <h3 class="popover-title">자료실</h3>
                                <div class="popover-content">
                                    <div class="lst_menu">
                                        <ul class="menu-list-ul">
                                            <li class="menu-main-category">
                                                <a href="/reference/catalog.html">카다로그</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/reference/approvaldoc.html">승인서류</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/reference/exhibition.html">전시회</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/reference/etc.html">기타</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li data-submenu-id="submenu-customer" data-id="cs">
                            <a>고객센터</a>
                            <div id="submenu-customer" class="popover">
                                <h3 class="popover-title">고객센터</h3>
                                <div class="popover-content">
                                    <div class="lst_menu">
                                        <ul class="menu-list-ul">
                                            <li class="menu-main-category">
                                                <a href="/cs/notice.html">공지사항</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/cs/request.html">견적요청</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/cs/qna.html">Q&A</a>
                                            </li>
                                            <li class="menu-main-category">
                                                <a href="/cs/resource.html">자료요청</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </section>
                <div class="etcsub-area">
                    <div class="etcsub-menu">
                        <div id="etcsub-dropdown">
                            <ul>
                                <li class="has-sub">
                                    <a class="parenttitle">
                                        <p>내진 케이블트레이</p><p>프로그램 다운</p><p class="ma_top5"><span class="nav-arrow"></span></p>
                                    </a>
                                    <ul class="childarea">
                                        <li>
                                            <a href="">프로그램 설치 신청</a>
                                        </li>
                                        <li>
                                            <a href="#"> 프로그램 사용 방법 </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="lang">
                        <ul class="eng">
                            <li>
                                <a href="">KOR</a>
                            </li>
                            <li>
                                <a href="">ENG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>

    <div class="clear"></div>
</header>
<div class="cbp-hsmenubg"></div>
<div class="clear"></div>
<div class="container mobile-logo">
    <div class="row ">
        <div class="col-xs-12 text-center">
            <div class="logo">
                <h1>
                    <a href=""><img src="/assets/images/logo.png?t=1556157314" alt="" /></a>
                </h1>
            </div>
        </div>
    </div>
</div>