﻿
.top_banner{background-image: url(../images/company/bn_01.jpg);}


.bgarea-section {
  background: #242a33 url(../images/company/bn_01.jpg) no-repeat;
   color: #fff;
  
} 
.companyinfo{padding:100px 0px 150px;background:#f5f5f5}
.companyinfo.bg{
    background: url(../images/company/comp_bg.jpg) no-repeat;
    background-position: top left;
    background-size: 100% 1035px;
    width: 100%;
    background-attachment: fixed;;}
.img-area img{vertical-align:top;}
.txt-box{letter-spacing:-1px;vertical-align:top}
.txt-box h3{color:#5cb531;margin:0px;padding:0px;font-size:20px;line-height:26px}
.txt-box .desc p{color:#707070;font-size:16px;line-height:24px;}
.img-area a {cursor:pointer}

/* The actual timeline (the vertical ruler) */
.timeline {
position: relative;
max-width: 1200px;
margin: 0 auto;
} 
.timeline::after {
content: '';
position: absolute;
width: 1px;
background-color: #cfcfcf;
top: 6px;
bottom: 0;
left: 50%;
margin-left: 0px;
}

 
.timeline .contbox {
padding: 0px 40px 10px;
position: relative;
background-color: inherit;
width: 50%;
}  
.timeline .contbox::after {
content: ' '; 
top: 16px;
height: 21px;
width: 21px;
background-color: #fff;
border-radius: 50%;
border:8px solid rgba(143, 201, 113, 0.8);
transform: translateX(-50%) translateY(-50%);
position: absolute; 
z-index: 1;
right: -21px;
}



.timeline .left {
left: 0;
}


.timeline .right {
left: 50%;
}
 
.timeline .left::before {
content: "";
width: 66px;
height: 1px;    background: #cfcfcf;
position: absolute;
top: 16px;
right: 0px;
z-index: 2;
transform: translateY(-50%);
}
.timeline .left .content:before{
content: "";
width: 7px;
height: 7px;
border-radius: 50%;
background: #fff;
border: 1px solid #5cb531;
position: absolute;
top: 16px;
right: -20px;
z-index: 1;
transform: translateY(-50%);
     
}


/* The actual content */
.timeline .left .content {text-align:right;margin-right:45px}

 
.timeline .right::before {
content: "";
width: 66px;
height: 1px;    background: #cfcfcf;
position: absolute;
top: 16px;
left: 2px;
z-index: 2;
transform: translateY(-50%);
}
 
.timeline .right::after {
left: 0px;
}
.timeline .right .content:before{
content: "";
width: 7px;
height: 7px;
border-radius: 50%;
background: #fff;
border: 1px solid #5cb531;
position: absolute;
top: 16px;
left: -23px;
z-index: 1;
transform: translateY(-50%);
     
}
.timeline .right .content{margin-left:50px;}
/* The actual content */
.timeline  .content { 
position: relative;z-index:2;letter-spacing:-1px;
}
.timeline .content h3{color:#5cb531;margin:0px;padding:0px;font-size:26px;line-height:30px;font-weight:600;margin-bottom:15px}
.timeline .content p{color:#696969;margin:0px;padding:0px;font-size:14px;line-height:25px;}
.timeline .content p b{color:#222;position:relative; } 
.timeline .right .content p b{padding-right:10px;} 
.timeline .right .content p span{padding-left:10px;} 
.timeline .right .content p b::after{content: '';position: absolute;right: 0px;top: 6px;width: 2px;height: 11px;background: #222;}
.timeline .left .content p b{padding-left:10px;float:right;} 
.timeline .left .content p span{padding-right:10px;} 
.timeline .left .content p b::before{content: '';position: absolute;left: 0px;top: 6px;width: 2px;height: 11px;background: #222;}

@media screen and (max-width: 728px) {
    .txt-box{margin-top:30px;}
.tabs-style-bar{width:90%;margin:0px auto;}
.tabs-style-bar ul li{width:33%}
/* Place the timelime to the left */
.timeline::after {
left: 15px;
}
.timeline .contbox {
width: 100%;
padding-left: 50px;
padding-right: 25px;
text-align:left;
} 
.timeline .contbox::before {
left: 28px; 
}
.timeline .left .content:before {
right: auto;
left: -23px;
}
.timeline .left .content{text-align:left;
    margin-left: 50px;
    margin-right: 0px;

}
.timeline .left::after, .timeline .right::after {
left: 15px;
} 
.timeline .right ,.timeline .left{
left: 0%;
}
.timeline .left::before,.timeline .right::before{width:50px;}   
.timeline .left .content p b{padding-right:10px;float:left;padding-left:0px;} 
.timeline .left .content p span{padding-left:10px;padding-right:0px;} 
.timeline .left .content p b::before{right:0px;left:auto}
}