/* reset */
a { text-decoration: none; color: #222; }
a:hover { text-decoration: none; opacity: 0.9; color: #222; }
.btn.focus, .btn:focus { color: #fff; text-decoration: none; }
li { margin: 0px; padding: 0px;}
textarea.form-control:focus { outline: none; border: 1px solid #5cb531 !important; }

/* button */
button { padding: 0px; }
.btn { color: #fff; font-weight: 500; border-radius: 0px; border: 0px;  }
.btn.reg { padding: 0px 55px; font-size: 18px; line-height: 38px; }
.btn.sm { padding: 0px 24px; font-size: 16px; line-height: 34px; }
.btn-search { width: 60px; height: 34px; text-align: center; font-size: 14px; line-height: 14px; }
.btn-green { background-color: #5cb531; }
.btn-grey { background-color: #6c6c6c; }
.btn:hover { color: #fff; opacity: 0.9;}
.btn.reg.list { padding: 16px 30px; font-size: 18px; line-height: 18px; font-weight: 600; }

.bgarea-section.ref {
  background: #242a33 url(../images/cs/ref-top.jpg) no-repeat;
   color: #fff;

}

.bgarea-section.cs {
  background: #242a33 url(../images/cs/cs-top.jpg) no-repeat;
   color: #fff;

}
.bgarea-section.video {
  background: #242a33 url(../images/cs/video-top.jpg) no-repeat;
   color: #fff;

}
.contents{padding:100px 0px 150px;background:#f5f5f5}
.img-area img{vertical-align:top;}
.txt-box{letter-spacing:-1px;vertical-align:top}
.txt-box h3{color:#5cb531;margin:0px;padding:0px;font-size:20px;line-height:26px}
.txt-box .desc p{color:#707070;font-size:16px;line-height:24px;}
.img-area a {cursor:pointer}


.tabs-style-bar.cs{width:100%;max-width:715px;margin:0px auto;}
/* quote request */
 .contents form .service-terms .title { display: block; color: #222; font-size: 20px; line-height: 20px; margin-bottom: 10px; }
 .contents form .service-terms .terms { display: block; width: 100%; height: 171px; border: 1px solid #d8d8d8; background-color: #fff; padding: 40px 30px; overflow: auto;  }
 .contents form .service-terms .terms p { font-size: 14px; line-height: 24px; color: #696969; }

 .contents form .service-terms .agree { margin-top: 15px; line-height: 21px; vertical-align: middle;}
 .contents form .service-terms .agree input#agreepolicy { width: 15px; height: 15px; margin-right: 8px; margin-top: 0px; }
 .contents form .request-form { border: 1px solid #dadada; border-top: 0px; }
 .contents form .request-form .border-top { width: 100%; height: 3px; background-color: #5cb531; }
 .contents form .request-form { background-color: #fff; }

 .contents form .request-form .input-info { padding: 30px 150px 30px 30px;border-top:3px solid #5cb531; }
 .contents form .request-form .input-info .input-row { display: block; margin-top: 10px; }
 .contents form .request-form .input-info .input-row .half   { display: inline-block; float: left; width: calc(calc(100% - 60px)/2); }
 .contents form .request-form .input-info .input-row .half:not(:nth-child(2n+1)) { margin-left: 60px; }
 .contents form .request-form .input-info .input-row div .title { width: 60px; margin-right: 15px; line-height: 34px; display: inline-block; }
 .contents form .request-form .input-info .input-row div .title > span { font-size: 16px; line-height: 34px; color: #696969; }
 .contents form .request-form .input-info .input-row input.form-control { height: 34px; border-radius: 0px; border: 1px solid #e3e3e3; box-shadow: none; display: inline-block;}
 .contents form .request-form .input-info .input-row input.form-control.short { width: calc(100% - 80px); }
 .contents form .request-form .input-info .input-row input.form-control.long { width: calc(100% - 80px);}
 .contents form .request-form .input-info .input-row .full { width: 100%; }
 .contents form .request-form .input-info .input-row input.form-control.short.attachment { width: calc(calc(100% - 135px)/2); }
 .contents form .request-form .input-info .input-row .full .textbox { margin-left: 80px; }
 .contents form .request-form .input-info .input-row .full .textbox textarea.form-control {  height: 255px; border-radius: 0px; border: 1px solid #e3e3e3; box-shadow: none; display: inline-block; }
 .button-area {}
.button-area button:last-child{margin-left:25px;}
/* end of customer service */

/*  */
/* reference */

 .contents.ref .search { float: right; width: 400px; height: 34px; }
 .contents.ref .search-box { float: left; }
 .contents.ref .search-box input.form-control { width: 230px; height: 34px; border-radius: 0px; border: 1px solid #e3e3e3; box-shadow: none; display: inline-block;}
 .contents.ref .search .dropdown select { float: left; width: 100px; height: 34px; padding: 0px 11px ; background: url(../images/cs/arrow-down.png) no-repeat; background-position: right 11px center; border: 1px solid #e1e1e1; border-radius: 0px !important; -webkit-appearance: none; -moz-appearance: none; -webkit-border-radius: 0px; font-size: 14px; line-height: 34px; background-color: #fff; }

 .contents table { width: 100%; border: 1px; border-collapse: collapse; border-spacing: 0; table-layout: fixed; font-size: 16px; line-height: 16px; }
 .contents table thead{display:none}
 .contents table tbody tr { height: 70px; line-height: 70px; border-bottom: 1px solid #e1e1e1; }
 .contents table tbody tr:hover { background-color: #fff;cursor:pointer;}
 .contents table tbody tr:first-child { border-top: 1px solid #222; }
 .contents table tbody tr td.num { width: 80px;text-align:center;}
 .contents table tbody tr td.tit { width: calc(100% - 225px);padding:0px 5px; }
 .contents table tbody tr td.date { width: 135px;font-size: 14px; line-height: 14px; color: #666;text-align:center; }
 .contents .paging { text-align: center; clear: both; background-color: none; }


 /* view */
 .contents.ref.view .board-view { width: 100%; border: 1px solid #222; border-left: 0px; border-right: 0px;}
 .contents.ref.view .board-view .title-box { height: 91px; line-height: 90px; padding: 0px 45px; border-bottom: 1px solid #e1e1e1; }
 .contents.ref.view .board-view .title-box .date { float: right; font-size: 14px; color: #666666;}
 .contents.ref.view .board-view .title-box .tit { float: left; font-size: 18px; font-weight: 500; padding-left: }
 .contents.ref.view .board-view .attachment { height: 50px; line-height: 51px; padding: 0px 45px; border-bottom: 1px solid #e1e1e1; }
 .contents.ref.view .board-view .attachment img.i-save { vertical-align: initial; margin-right: 8px; }
 .contents.ref.view .board-view .attachment a { font-size: 15px; color: #757575; }
 .contents.ref.view .board-view .attachment a:hover{color:#5cb531}

 .contents.ref.view .board-view .txt-box { min-height: 391px; font-size: 15px; line-height: 25px; padding: 25px 45px; }
 .contents.ref.view .paging { float: left; padding-left: 30px; vertical-align:top;margin:0px;}
 .contents.ref.view .pagination{margin:0px;}
 .contents.ref.view .to-list { float: right; padding-right: 30px; }
 .contents.ref.view .paging .pagination li > a,  .contents.ref.view .paging .pagination li > span { width: 50px; height: 50px; }
 .contents.ref.view .paging .pagination span.prev { background: url(../images/cs/gr_prev.png) no-repeat; background-position: left 18px center; }
 .contents.ref.view .paging .pagination span.next { background: url(../images/cs/gr_next.png) no-repeat; background-position: right 18px center; }

#faqcont {letter-spacing:-1px;}
#faqcont .faq-heading{color:#5cb531;}
#faqcont .faq-heading ul {margin:0px auto;text-align:center;margin-top:30px;}
#faqcont .faq-heading ul li{display:inline-block;text-align:center;font-size:16px;font-weight:bold}
#faqcont .faq-heading ul li:not(:last-child):after {content: "\007C";padding:0px 25px;}
#faqcont .faq-heading a {color:#222;cursor:pointer;}
#faqcont .faq-heading  a:visited {text-decoration:none;color:#222;}
#faqcont .faq-heading  a:hover, #faqcont  .faq-heading  a:active {text-decoration:none;color:#5cb531;}

#faqcont .faq-cont h3{color:#111;font-size:20px;line-height:24px;font-weight:500;margin-bottom: 10px;}
#faqcont .faq-cont h3 span{font-size:14px;line-height:24px;margin-left:5px;color:#666}
#faqcont .faq-cont .accordion-toggle {cursor:pointer;}
#faqcont .faq-cont .panel-heading{
    background-color:#5cb531;
    border-color: #ddd;}
#faqcont .faq-cont .panel-heading a{color:#fff;}
#faqcont .faq-cont .panel{position:relative;border-color: #5cb531}
#faqcont .faq-cont .panel .panel-body{font-size:15px;line-height:24px;color:#222; border-color: #5cb531;}
#faqcont .faq-cont .panel .panel-body ul{margin-left:30px}
#faqcont .faq-cont .accordion-toggle.question-toggle.collapsed:after {content: url(../images/common/arrow_down.png);position: absolute;right: 10px;top: 10px;font-weight: bold;width: 13px;height: 7px;}
#faqcont .faq-cont .accordion-toggle.question-toggle:after {content: url(../images/common/arrow_up.png);position: absolute;right: 10px;top: 10px;font-weight: bold;width: 13px;height: 7px;}
#faqcont .faq-cont .longtext{word-break:break-word;}
