﻿
#slides {
	height: 920px;
}
#slides .swiper-slide {
	height: 920px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 920px ;
	width: 100%;
	position: relative;
	background-attachment: fixed;
	
}

#slides .s1 {
	background-image: url(../images/main/s_01.jpg);
}

#slides .s2 {
	background-image: url(../images/main/s_02.jpg);
}

#slides .s3 {
	background-image: url(../images/main/s_03.jpg);
}

#slides .s4 {
	background-image: url(../images/main/s_04.jpg);
}
#slides .s5 {
	background-image: url(../images/main/s_05.jpg);
}


#slides .swiper-slide>div{
	height: 920px;
}
#slides .swiper-slide>div .row{
	position: relative;
	width: 100%;
	height: 100%;
}

#slides .swiper-slide>div dl {
	position: absolute;
	top: 250px;
	left: 50%;
	width:900px ;
	margin-left: -450px;
}

#slides .swiper-slide.s4>div dl{
	top: 300px;
}
#slides .swiper-slide.s5>div dl{
	top: 270px;
}
#slides .swiper-slide>div dl dt {
	font-size: 30px;
	color: #FFF;
	text-align: center;
}

#slides .swiper-slide>div dl dd.text {
	font-size: 72px;
	text-align: center;
	color:#5cb531 ;
	line-height: 72px;
	font-weight: 800;
	font-family: Roboto;
	padding-top: 20px;
}
#slides .swiper-slide>div dl dd.rbtn ul{
	text-align: center;
}
#slides .swiper-slide>div dl dd.rbtn ul li{
	display: inline-block;
	text-align: center;
	padding: 0 5px;
	padding-top: 60px;
}


.pageing_out{
	position: absolute;
	
}

.slides-pagination{
	position: absolute;
	z-index: 999;
	display: table;
	bottom: 70px;left: 50%;
	margin-left: -62.5px;
	height: 15px;
}
.slides-pagination a{
	display: block;
	float: left;
	width: 25px;
	height: 15px;
	overflow: hidden;
	line-height: 1000px;
	position: relative;
}

.slides-pagination a:after{
	display: block;
	height: 15px;
	width: 15px;
	position: absolute;
	background-color: #888888;
	top: 0;
	border-radius: 50%;
	left: 5px;
	content: '';
}
.slides-pagination a.current:after{
	background-color: #FFF;
}
#products{padding:65px 0px 80px;    letter-spacing: -1px;}
.product_info div.items-box{float:left;width:290px;border:1px solid transparent;cursor:pointer;}  
.product_info div.items-box .txt-area {border:1px solid #ddd;border-top:none;padding:35px 0px;max-height:122px;}
.product_info div.items-box.last .txt-area{padding-top:20px;}
.product_info div.items-box .txt-area span.tit{text-align: center;font-size:18px ;color: #5cb531;line-height: 23px;display: block;font-weight: 500;} 
.product_info div.items-box .txt-area a.morebtn{display: block;margin-top: 5px;font-family: Roboto;color: #7f7f7f;text-align: center;font-size: 15px;line-height: 24px;}
.product_info div.items-box .txt-area a.morebtn:hover{text-decoration:none;color:#444}
.product_info div.items-box .txt-area a.morebtn:after {padding: 0 5px;color: #777;content: "\003E";margin-top:2px;}
.product_info div.items-box:hover{border-color:#5cb531;}



/*main slide S*/
.mainslide {width:100%;
   max-height: 920px;}
 .mainslide .item_slide_photos{text-align: center;clear: both;width: auto} 
.mainslide .item_slide_photos .slide_mainst{width:100%;} 
.mainslide .item_slide_photos .slide_mainst{ position: relative;background-repeat: no-repeat;background-position: top center;background-size: cover;height:920px;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto{width:100%;overflow:hidden;}  
.mainslide .item_slide_photos .slide_mainst .mbnr_auto dl {	position: absolute;top: 270px;left: 50%;width:900px ;margin-left: -450px;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dt {font-size: 30px;color: #FFF;text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.text {font-size: 72px;text-align: center;color:#5cb531 ;line-height: 72px;font-weight: 800;font-family: Roboto;padding-top: 20px;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul{text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul li{display: inline-block;text-align: center;padding: 0 5px;padding-top: 60px;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-prev{ cursor:pointer;height: 51px;width: 50px;background:url(../images/common/arrow_left.png);display:block;color:#fff;text-indent:-999px;font-size:0px;position:absolute;text-indent:-999px;left:20px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-next{ cursor:pointer;height: 51px;width: 50px;background:url(../images/common/arrow_right.png);display:block;color:#fff;text-indent:-999px;font-size:0px;position:absolute;text-indent:-999px;right:20px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-nav .owl-prev{top:39%;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-nav .owl-next{top:39%;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots {bottom: 70px;left: 50%;margin-left: -64px;position: absolute;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot {display: inline-block;zoom: 1;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot span {width: 15px;height: 15px;margin: 5px 7px;background: #888;display: block;-webkit-backface-visibility: visible;transition: opacity .2s ease;border-radius: 30px;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot.active span,
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot:hover span {background: #fff;}
/*main slide E*/
.mainslide .item_slide_photos .slide_mainst .trapzoid {
            position: absolute;
            left: 0px;
            top: 0;
            border-bottom: 45px solid #5cb531;
            border-right: 30px solid transparent;
            border-left: 0px solid transparent;
            height: 0;
            width: 895px;
}
 
.mainslide .item_slide_photos .slide_mainst .trapzoid .conttxts{
    right: 70px;letter-spacing:-1px;
    top: 0px;
    font-size: 26px;
    line-height: 45px;
    color: #fff;
    position: absolute;}