﻿/*popup*/
.popup-box{
    background: #fff;
    position: absolute;
    z-index: 10000;}
.popup-box.sub{position:relative !important;}         
.cboxClose {background: url(../images/common/close_btn_popup.png);opacity:1;width: 39px;height: 39px;right: 30px;top: 30px;
    position: absolute;cursor:pointer}
.cboxClose:hover{opacity:0.7;}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: baseline;
    bottom: 0px; 
    font-size: smaller;
}
.product_info_pop{padding:100px 90px;width:1200px;}
.product_info_pop .title-area{margin:0px;padding:0px;letter-spacing:-1px;line-height:32px;font-size:24px}
.product_info_pop .title-area span.tit{text-align: center;font-size:30px; color: #5cb531;line-height: 32px;display:inline-block;font-weight:bold;;position:relative;padding:0px 10px 0px;text-transform:uppercase}
.product_info_pop .title-area span.sub-txt{display:inline-block;color: #898989;text-align: center;font-size: 24px;line-height: 32px;font-weight: 600;vertical-align:top}
.product_info_pop .title-area span.tit::before {content: "";width: 9px;height: 26px;    background:#5cb531;position: absolute;top:3px;left:-15px; }
.product_info_pop .img-area{text-align:center;}
.product_info_pop .img-area img{margin:0px auto}
.product_info_pop .img-area p.descinfo{font-size:16px;line-height:24px;color:#626262;}
.product_info_pop .img-area ul.descinfo{font-size:16px;line-height:24px;color:#626262;    max-width: 675px;    margin: 0px auto;margin-top:50px;}
.product_info_pop .img-area ul.descinfo li{display:block;text-align:left;}
.product_info_pop .img-area ul.descinfo li{display:block;text-align:left;margin-bottom:5px;}
.product_info_pop.detail{padding:100px 90px;width:1200px;}
.product_info_page.detail{padding:100px 90px;width:100%;background:#fff;}
.prd-detail-box .prd-img, .prd-detail-box .prd-info , .prd-detail-box .prd-table{float:left;}
.prd-detail-box .wd15{width:15%;}
.prd-detail-box .wd25{width:25%;}
.prd-detail-box .wd30{width:30%;}
.prd-detail-box .wd40{width:40%;}
.prd-detail-box .wd45{width:45%;}
.prd-detail-box .wd50{width:50%;}
.prd-detail-box .wd55{width:55%;}  
.prd-detail-box .wd60{width:60%;} 
.prd-detail-box .wd75{width:75%;}  
.prd-detail-box .wd85{width:85%;}  
.prd-detail-box  .wd100{width:100%;}
.prd-detail-box .sub-box{margin-top:140px}
.prd-detail-box .prd-info  .tit_sm{font-size:12px;line-height:14px;text-transform:uppercase;color:#111;font-weight:bold;}
.prd-detail-box .prd-info  h4.name{font-size:50px;line-height:54px;text-transform:uppercase;color:#111;margin:0px;padding:0px;margin-bottom:15px;font-weight:bold;}
.prd-detail-box .prd-info  h5.desc{font-size:18px;line-height:24px;text-transform:uppercase;color:#5cb531;margin:0px;padding:0px;font-weight:bold;}
.prd-detail-box .prd-info .prd-deatil-info-area {letter-spacing:-0.038em}
.prd-detail-box .prd-info .prd-deatil-info-area p.cate-tit{font-weight:bold;font-size:16px;line-height:22px;color:#111;}
.prd-detail-box .prd-info .prd-deatil-info-area ul.cate-deatiltxt{;margin-top:15px;}
.prd-detail-box .prd-info .prd-deatil-info-area ul.cate-deatiltxt li{color:#4e4e4e;font-size:15px;line-height:22px;margin-bottom:5px;}
.prd-detail-box .prd-info .prd-deatil-info-area ul.cate-deatiltxt li:before {
    content:"·";
    font-size:15px;
    vertical-align:top;
    line-height:22px;margin-right:5px;
}
.prd-detail-box .prd-info .prd-deatil-info-area p.sub-deatiltxt{color:#4e4e4e;font-size:15px;line-height:18px;margin-top:15px;}
.prd-detail-box .prd-info .prd-deatil-info-area ul .sub-indent{margin-left:75px}
.prd-detail-box .prd-info .prd-deatil-info-area.double .sub-indent2{margin-left:12px}
.prd-detail-box .prd-info .prd-deatil-info-area.double{float:left}
.prd-detail-box .prd-info .prd-deatil-info-area.double:last-child{margin-left:50px;}


.prd-table  p.noti{color:#111;font-size:16px;line-height:18px;letter-spacing:-0.038em;}
.prd-table .table{width:100%;margin-bottom:0px;}
.prd-table .table th{
    letter-spacing:-0.038em;
    border-right:1px solid #dfdfdf;
    background: #a1a1a1;
    color: #fff;font-weight:normal;
    font-size: 14px;
    line-height:16px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #dfdfdf;}

.prd-table .table th:last-child{border-right-color:#a1a1a1}
.prd-table .table td{text-align:center;border:1px solid #b9b9b9;font-size:14px;line-height:16px;}
.prd-table .table.prd800 td{vertical-align: middle;width: 120px;}
.prd-table .table.prd991 td{vertical-align: middle;padding:5px}
.prd-table .table.prd991 td.rows_3{line-height:20px;}
.prd-table .table.left-text td{text-align:left;}
.prd-table .table.left-text th{text-align:left;}
.prd-table .table.etctable tr td:first-child{text-align:left;    padding-left:25px;max-width:120px;}
.prd-table .table.etctable.item3 td:nth-child(2){text-align:center;width:70px;}
.prd-table .table.etctable.item3 td:nth-child(3){text-align:center;width:60px;}
.prd-table .table.etctable.item3 tr td:nth-child(-n+3){
    border-left: none !important;
    border-right: none;}
/*popup*/
