﻿


.top_banner{background-image: url(../images/product/bn_01.jpg);}


.bgarea-section {
  background: #242a33 url(../images/product/bn_01.jpg) no-repeat;
   color: #fff;

}

.tabs-style-bar.product{width:100%;max-width:1070px;margin:0px auto;}


.product-bg{padding:100px 0px 150px;background:#f5f5f5;}
.setup-big {margin: 0px auto;}
.txt-box{vertical-align:top;}
.txt-box h3{color:#5cb531;margin:0px;padding:0px;font-size:26px;line-height:30px;}
.desc{margin-left:15px;}
.txt-box .desc p.tit{color:#111;font-size:16px;line-height:24px;position:relative;font-weight:500;}
.txt-box .desc p.tit::before {content: "";width: 5px;height: 21px;    background:#5cb531;position: absolute;top:3px;left:-15px; }
.txt-box .desc p{color:#626262;font-size:16px;line-height:24px;}

.product_info .second-row{margin-top:50px;}

.product_info div.items-box{width:314px;border:1px solid #ddd;margin:0px auto;position:relative}
.product_info div.items-box .img-area{ background:#fff;;text-align:center;padding-top:40px;}
.product_info div.items-box .img-area img.img-responsive { margin: 0 auto; }
.product_info div.items-box .txt-area {border-top:none;padding:20px 0px 40px; ;background:#fff; ;min-height:115px;max-height:115px;}
.product_info div.items-box .txt-area span.tit{text-align: center;font-size:24px; color: #5cb531;line-height: 26px;display: block;font-weight: 600;text-transform:uppercase;}
.product_info div.items-box .txt-area span.sub-txt{display: block;margin-top: 5px;color: #898989;text-align: center;font-size: 14px;line-height: 24px;}
.product_info div.items-box:hover{border-color:#5cb531;}
.product_info div.items-box:hover > .overlay {cursor:pointer;
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.2;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-ms-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
transition: all 0.5s linear
}


.product_info.two-in-one div.items-box { width:483px; border:1px solid #ddd; margin: 0px auto; display: inline-block;position:relative}



.img-maps-area{position:relative}
.has_popup_box{position:relative}

/* cts.html */
.product_info .wrapper { padding: 100px;}
.product_info .text-box .tit {  display: block; font-size: 26px; line-height: 26px; font-weight: 600; }
.product_info .text-box .sub-txt {  display: block; font-size: 16px; line-height: 16px; font-weight: 700; color: #5cb531; text-transform: uppercase; }
.product_info .text-box.sm { background-color: #f0f0f0; padding: 45px; }
.product_info .text-box.sm .tit { font-size: 20px; font-weight: 700; line-height: 20px; }
.product_info .text-box.sm ol li { list-style: decimal; color: #666; font-size: 14px; line-height: 26px; }
.product_info .second-row .col-md-6.col-sm-12.col-xs-12 { padding-left: 0px; padding-right: 0px;}
.product_info .second-row  .left ol li { list-style: none; color: #666; font-size: 14px; line-height: 26px; padding-left: 0px;}
.product_info .second-row .text-box.sm { background-color: #fff; padding: 0px; }
.product_info .img-box { position: relative; }
.product_info .img-box .tit { font-size: 20px; font-weight: 700; line-height: 20px; position: absolute; bottom: 0px; left: 0px; }
.cate-tit-etc { display: block; font-weight: 700; border-bottom: 1px solid #111; padding-bottom: 10px; margin-bottom: 20px;}


/* etc - description */
.product_desc .wrapper { padding: 100px;}
.product_desc .col-md-12, .product_desc .col-md-2  { padding: 0px; }
.product_desc .text-box .tit { font-size: 50px; line-height: 50px; font-weight: 700;}
.product_desc .text-box .sub-txt { font-size: 18px; line-height: 18px; font-weight: 700; color: #5cb531; }
.product_desc .text-box .descr { font-size: 18px; line-height: 18px; font-weight: 800; display: block;}
.product_desc .img-area { margin-top: 100px; }
.product_desc .list { width: 360px; }
.product_desc .list ul li { font-size: 16px; line-height: 35px; list-style: none; }
.product_desc .list .tit { display: block; font-weight: 700; border-bottom: 1px solid #111; padding-bottom: 10px; margin-bottom: 20px;}
.product_desc .list.long ul li { font-size: 16px; line-height: 18px; margin-bottom: 20px; padding-right: 75px; }
.product_desc .icon-box span { font-size: 14px; line-height: 20px; }
.product_desc .icon-box li img { margin-bottom: 10px; }
.product_desc .icon-box li { vertical-align: top; list-style: none; font-size: 14px; line-height: 14px; text-align: center; display: inline-block; width: 65px; }
.product_desc .icon-box li:not(:last-child) { margin-right: 30px; }
.product_desc .cat { font-size: 16px; line-height: 16px; font-weight: 600;  }

/*.product_desc ul.columns { columns: 2; -webkit-columns: 2; -moz-columns: 2; margin-top: 15px; padding-left: 15px; padding-right: 15px;}
.product_desc ul.columns li { font-size: 15px; line-height: 23px; color: #4e4e4e; list-style: square; margin-right: 50px; width: 330px; }
.product_desc ul.columns.long li { font-size: 15px; line-height: 23px; color: #4e4e4e; list-style: square; margin-right: 40px; width: 400px; }*/


/* table */
.product_desc table { width: 100%; font-size: 15px; line-height: 20px; } 
.product_desc tr:nth-child(1) th, .product_desc #three tr th { background-color: #a6a6a6; color: #fff; font-weight: 500; }
.product_desc table, .product_desc th, .product_desc td { border: 1px solid #d0cece; border-collapse: collapse; padding-left: 35px; padding-right: 35px; font-weight: 500; }
.product_desc #three tr:nth-child(2) { height: 50px; }
.product_desc #three tr:nth-child(3) { padding-top: 10px; padding-bottom: 10px;}
.product_desc #three th:nth-child(1) { width: 155px; }
.product_desc #three tr:not(:nth-child(1)) th, .product_desc #three tr td:not(:nth-child(1)) { text-align: center; }
.product_desc table tr td { color: #4e4e4e; }

.product_desc .anchor-dimensions table{ font-size: 14px; line-height: 28px; }
.product_desc .anchor-dimensions table th:not(:nth-child(1)), .product_desc .anchor-dimensions table tr:not(:nth-child(2)) th, .product_desc .anchor-dimensions table td:not(:nth-child(1))   { text-align: center; }
.product_desc .anchor-dimensions table tr:nth-child(2) th { background-color: #a6a6a6; color: #fff; font-weight: 500; }

.product_desc .anchor-dimensions.concrete table tr th:nth-child(1) { width: 470px; }
.product_desc .anchor-dimensions.concrete table tr td:not(:nth-child(1)) { text-align: center;}
.product_desc .anchor-dimensions.concrete td:not(:nth-child(1)) { padding-left: 20px; padding-right: 20px; }

.product_desc ol.howto { margin-top: 20px; }
.product_desc ol.howto li { width: 205px; float: left; }
.product_desc ol.howto li:not(:last-child) { margin-right: 10px; }
.product_desc ol.howto li span.txt { display: inline-block; margin: 15px 0px; font-size: 15px; line-height: 15px; color: #4e4e4e; }

.product_desc .anchor, .product_desc .anchor th, .product_desc .anchor td { padding-left: 10px; padding-right: 10px; }
.product_desc .anchor tr th, .product_desc .anchor tr td { font-size: 14px; line-height: 26px; }
.product_desc .anchor tr th, .product_desc .anchor tr td:not(:nth-child(1))  { text-align: center; }
.product_desc .anchor tr td:nth-child(1) { width: 160px; }

.product_desc .detailed-install .top img { margin: 20px auto 40px auto; }
.product_desc .detailed-install table, .product_desc .detailed-install table th:not(:nth-child(1)), .product_desc .detailed-install table td:not(:nth-child(1)) { padding-left: 10px; padding-right: 10px; }
.product_desc .detailed-install table tr th, .product_desc .detailed-install table tr td:not(:nth-child(1)) { font-size: 14px; line-height: 24px; text-align: center; }
.product_desc .detailed-install table tr th:nth-child(1) { width: 318px; }
.product_desc .detailed-install table tr th:not(:nth-child(1)) { width: 103px; }
.product_desc .detailed-install table tr td, .product_desc .anchor-dimensions table tr th, .product_desc .anchor-dimensions table tr td { position: relative; }
.product_desc .detailed-install table tr .mm, .product_desc .anchor-dimensions table tr .mm { position: absolute; right: 23px; text-align: center; }
.product_desc .detailed-install table tr .mid, .product_desc .anchor-dimensions table tr .mid { text-align: center; position: absolute; right: 105px; }

.product_desc table span.bold { font-weight: 600; color: #111; }

.product_desc .screw .text-box .sub-txt { font-size: 15px; line-height: 15px; font-weight: 500; display: block; color: #4e4e4e; }
.product_desc .cable-ladder .cts-1 tr th { line-height: 28px; }
.product_desc .cable-ladder .cts-1 tr td { font-size: 14px; line-height: 16px; text-align: center; }
.product_desc .cable-ladder .cts-1 tr td { padding: 10px 15px;}
.product_desc .cable-ladder .img-box img { display: block;}
.product_desc .cable-ladder .img-box img:nth-child(2) { margin-top: 10px; }

/* popup */
/*.popup-box { width: 100%; padding: 80px 0px 100px 100px; width: 100%;}*/
.popup-box .prev { position: absolute; right: 20px; top: 20px; }
.popup-box div img { margin: 0 auto; }
.popup-box .txt-box .tit { display: block; font-size: 28px; line-height: 31px; font-weight: 700; color: #5cb531; }
.popup-box .txt-box .sub-txt { display: block; margin-top: 15px; font-size: 20px; line-height: 31px; font-weight: 700; }

.popup-box .cable-ladder .box { background-color: #d8d8d8; width: 1000px; padding: 40px 70px; }
.popup-box ol.chart { margin-top: 40px; margin-bottom: 55px; }
.popup-box ol.chart li { text-align: left; font-size: 14px; line-height: 31px; color: #414141; }
.popup-box ol.chart li span.bold { font-weight: 700; } 
.popup-box .product_desc tr { height: 30px; }
.popup-box .product_desc tr:nth-child(2) { height: 50px; }
.popup-box .product_desc tr:nth-child(3) { padding-top: 10px; padding-bottom: 10px;}
.popup-box .product_desc th { background-color: #a6a6a6; color: #fff; font-weight: 500; }
.popup-box .product_desc table, .popup-box .product_desc th, .popup-box  .product_desc td { border: 1px solid #d0cece; border-collapse: collapse; padding-left: 35px; padding-right: 35px; }
.popup-box .product_desc tr:nth-child(1) th:nth-child(1) { width: 155px; }
.popup-box .product_desc tr:not(:nth-child(1)) th, .product_desc tr td:not(:nth-child(1)) { text-align: center; }

/*map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
area {
  width: 20px;
  height: 20px;
  display: block;
  animation-duration: 3s;
  animation-name: doStuff;
  animation-iteration-count: infinite;
  background: green;
  animation-direction: alternate;
}

@keyframes doStuff {
  from {
    transform: rotateZ(0deg);
    width: 20px;
    height: 20px;
  }
  to {
    transform: rotateZ(360deg);
    width: 20px;
    height: 20px;
  }
}*/ 