﻿@media (min-width: 1200px) {
.container {
width: 1200px;
}
}
@media (max-width: 768px) {
 .table-responsive-sm{width:100%;max-width:100%;overflow-x:scroll}
 .prd-table{width:100% !important;}
.cboxClose{right: 0px;top: 10px;position: absolute;transform: scale(0.7);}
.product_info_pop{padding:50px 35px;width:100%;}
.product_info_pop .title-area{margin:0px;padding:0px;letter-spacing:-1px;line-height:24px;font-size:16px}
.product_info_pop .title-area span.tit{font-size: 22px;line-height: 24px;padding:0px 5px 0px}
.product_info_pop .title-area span.sub-txt{font-size: 16px;line-height: 24px}
.product_info_pop .title-area span.tit::before {content: "";width: 9px;height: 22px;    background:#5cb531;position: absolute;top:3px;left:-15px; } 
.product_info_pop.detail{padding:50px 35px;width:100%;}
.prd-detail-box .prd-img, .prd-detail-box .prd-info {float:left;width:100% !important}
.product_info_page.detail{padding:40px 25px;width:100%;background:#fff;}
#submenu-product {
width: 100%;
max-width: 100%;
margin-left: 0% !important;
}
    
    
.contents table tbody tr { height: 70px; line-height: 20px;overflow:hidden;} 
.contents table tbody tr td.num { width:60px;padding:0px;text-align:center;}
.contents table tbody tr td.tit { width: calc(100% - 150px);padding:0px 5px; }
.contents table tbody tr td.date { width:80px;padding:0px;text-align:center;}

.contents form .request-form .input-info { padding: 20px;border-top:3px solid #5cb531; }
.contents form .request-form .input-info .input-row .half   { display: block;width:100%;}
.contents form .request-form .input-info .input-row .half:not(:nth-child(2n+1)) { margin-left: 0px; }
.contents form .request-form .input-info .input-row .half+.half{margin-top:10px;}
  
 
.contents form .request-form .input-info .input-row div .title > span { font-size: 14px;}
.contents form .request-form .input-info .input-row input.form-control.short.attachment { width:100%;text-align:center;}
.attachmentbox{text-align:center}
.btn-attach{margin:0px auto;margin-top:10px;}


.site-header-wrap.collapse {display: none;}
.site-header-wrap.collapse.in {display: block;}
.site-header-wrap {width: 100%;height: auto;overflow: unset;}
.site-header-wrap .logo {width: 100%;float: none;text-align: center;}
.cbp-hsmenubg {display: none !important;}
.cbp-hsinner {max-width: 100%;width: 100%;padding: 0px;}
.site-header-wrap .etc-area {display: none;}
.site-header-wrap .etcsub-area {width: 100%;background: #5cb531;display: block;float: none;font-size: 14px;display: none;}
.wings-box {display: none;}
.site-header-wrap .main-menuarea {width: 100%;float: none;height: auto;}
.main-menuarea .dropdown-menu-main {height: auto;position: relative;padding: 0px;display: block;text-align:center;color:#fff;background: rgba(92, 181, 49, 0.9);}

.main-menuarea .dropdown-menu-main > li {position: relative;padding: 0px;display: block;width: 100%;line-height: 40px;height: 40px;}
.main-menuarea .dropdown-menu-main .popover {top:40px !important; width: 100%;    max-height: unset;max-width: 100%;margin-left: 0% !important;}
.mobile-logo{display:block;margin-bottom:30px;}
.main-menuarea .popover-content .menu-list-ul{width:100%}
.main-menuarea .popover-content{height:auto} 
.main-menuarea .popover-content .menu-main-category{line-height: 40px;border-bottom: 1px solid #ccc;width: 100%;}

.product_info div.items-box,.product_info.two-in-one div.items-box{    margin: 0px auto;float:none;width:290px;margin-bottom:30px;} 
.product_info .second-row{margin-top:0px;}
footer{ background:#3a3a3a;padding:30px 0px; } 
.footer_logo{display:inline-block;width: 100%;float: none;}
.footer_menu{display:inline-block;width: 100%;float:none}
.footer_menu .menu ul li{display:inline;font-size:16px;line-height:22px;letter-spacing: -1px;color:#fff;padding:0 15px;position:relative;}
.footer_menu .menu ul li:first-child{padding-left:0px;display:block}
.footer_menu .menu ul li:last-child{margin-right:0px;}
.footer_menu .menu ul li a{color:#fff;}
.footer_menu .menu ul li:last-child:before {content: '';position: absolute;left: 0;top: 6px;width: 1px;height: 16px;background: #fff;}
.footer_menu .copy{font-size:16px;color:#c0c0c0;line-height:24px;margin-top:20px}
.footer_menu .addr ul li{display:block;font-size:16px;line-height:24px; }
.footer_menu .addr ul li:last-child{margin-right:0px;} 
.footer_menu .addr ul li:not(:first-child):before {content: '';color: #c0c0c0;font-size: 14px;font-weight: 100;margin: 0px;}
.footer_menu .copy p span{color:#5cb531}
.tabs-style-bar ,.tabs-style-bar.product ,.tabs-style-bar.cs {
width: 100%;
max-width: 356px;
margin: 0px auto;
} 
}
@media screen and (max-width: 320px) {
.contents table {font-size:14px;}
.contents table tbody tr td.date { font-size:13px;}
    
.pagination li > a, .pagination li > span{width:32px;height:32px;padding:4px 0px }
.contents.ref .search { float: left; width: 300px; height: 34px; } 
.contents.ref .search-box input.form-control { width: 140px}
.contents.ref .search .dropdown select{width:80px;}

.tabs-style-bar ,.tabs-style-bar.product ,.tabs-style-bar.cs {
width: 100%;
max-width: 300px;
margin: 0px auto;
}
.tabs-style-bar ul li {
        
width: 145px;
}
.button-area button:last-child{margin-left:0px;}
.btn.reg {
padding: 10px 40px;
font-size: 18px;
line-height: 18px;
}

.mainslide .item_slide_photos .slide_mainst{ position: relative;background-repeat: no-repeat;background-position: center;    background-size: cover;min-height:320px;height:100%;height:-webkit-fill-available;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto{width:100%;overflow:hidden;}  
.mainslide .item_slide_photos .slide_mainst .mbnr_auto dl {	position: absolute;top: 40px;left: 0%;width:100% ;margin-left: 0px;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dt {font-size: 16px;color: #FFF;text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.text {font-size: 30px;text-align: center;color:#5cb531 ;line-height: 32px;font-weight: 800;font-family: Roboto;padding-top: 20px;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul{text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul li{display: inline-block;text-align: center;padding: 0 5px;padding-top: 20px;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-nav{display:none} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots {bottom: -40px;left:48%}.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot.active span,
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot:hover span {background: #5cb531;}

}
@media (min-width: 321px) and (max-width: 400px) {
.contents.ref .search { float: left; width: 360px; height: 34px; } 
.contents.ref .search-box input.form-control { width: 160px}
.contents.ref .search .dropdown select{width:80px;}
.pagination li > a, .pagination li > span{width:35px;height:35px;padding:6px 0px }
}
@media (min-width: 321px) and (max-width: 420px)   {
.mainslide .item_slide_photos .slide_mainst{ position: relative;background-repeat: no-repeat;background-position: center;    background-size: cover;min-height:320px;height:100%;height:-webkit-fill-available;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto{width:100%;overflow:hidden;}  
.mainslide .item_slide_photos .slide_mainst .mbnr_auto dl {	position: absolute;top: 100px;left: 0%;width:100% ;margin-left: 0px;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dt {font-size: 24px;color: #FFF;text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.text {font-size: 40px;text-align: center;color:#5cb531 ;line-height: 44px;font-weight: 800;font-family: Roboto;padding-top: 20px;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul{text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul li{display: inline-block;text-align: center;padding: 0 5px;padding-top: 20px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-prev{left:10px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-next{right:10px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots {bottom: 30px}
}
@media screen and (min-width: 64em) {
.slide_mainst{ height: 600px; min-height: 600px;}}



